<html>
  <head>
    <title>Users</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/main/normalize.css" />
    <link rel="stylesheet" href="/main/main.css" />
    <link rel="stylesheet" href="/main/app.css" />
  </head>
  <body>
    <div id="titlewrapper">
	  <div id="titlepanel">
        <h3>Users List</h3>
	  </div>
	</div>
	
    <div class="controls">
	  response={{status_code}} {{status_message}}
      <hr/>
	</div>
	
	<!-- https://developers.google.com/apis-explorer/#p/admin/directory_v1/directory.groups.list -->
    <div class="results">
      <ol>
      {% for user in list %}
        <li>
		  <span class="groupname">Name: {{ user.name.fullName }}</span>
          <span class="groupemail">email: {{ user.primaryEmail }}</span><br/>
		  <span class="userinfo">Created: {{ user.creationTime }}</span><br/>
		  <span class="userinfo">Last login: {{ user.lastLoginTime }}</span><br/>
          <hr/>
        </li>
      {% endfor %}
      </ol>
      <div id="asoftime">(as of {{ now.strftime('%a %d %b %Y %H:%M %Z') }})</div>
	</div>
	
    <div class="footer">
    <hr/>
    Application developed by <a href="http://www.ingenotech.com/">Ed Randall</a>.<br/>
    <img src="//developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine"/>
    </div>
  </body>
</html>