body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  padding: 5px 5px 5px 5px;
}

.groupname {
  font-weight: bold;
}

.groupdesc {
  font-style: italic;
}

.groupemail {
}

.groupalias {
}

.groupmembers {
}
